<div class="top-parallax large" ng-include src="'app/views/structure/top.tpl.html'" parallax parallax-ratio="0.2"></div>

<article class="main">
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <!-- Content panel title for padding and border -->
                    <h2>What we do?</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <img class="content-image" ng-src="assets/img/filler/4.jpg" alt="" />
                    <p>Nunc vehicula dapibus auctor ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, auctor nec massa. Leo mauris at tortor. Nunc et tortor sit amet orci non consequat semper. Nulla non fringilla diam.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <img class="content-image" ng-src="assets/img/filler/16.jpg" alt="" />
                    <p>Proin ut quam eros. Donec sed lobortis diam. Ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor. Nunc et tortor sit amet orci consequat semper. Nulla non fringilla diam.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <img class="content-image" ng-src="assets/img/filler/17.jpg" alt="" />
                    <p>Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor. Nunc et tortor sit amet orci non consequat semper. Nulla non fringilla diam.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <!-- Content panel title for padding and border -->
                    <h2>Our work</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <div class="boxgrid" box-grid-effects="slideright">
                        <img class="cover" ng-src="assets/img/filler/11.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <div class="boxgrid" box-grid-effects="slideright">
                        <img class="cover" ng-src="assets/img/filler/10.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <div class="boxgrid" box-grid-effects="slideright">
                        <img class="cover" ng-src="assets/img/filler/9.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <div class="boxgrid" box-grid-effects="slideright">
                        <img class="cover" ng-src="assets/img/filler/8.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <div class="boxgrid" box-grid-effects="slideright">
                        <img class="cover" ng-src="assets/img/filler/7.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <div class="boxgrid" box-grid-effects="slideright">
                        <img class="cover" ng-src="assets/img/filler/6.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <!-- Content panel title for padding and border -->
                    <h2>Clients</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="content-panel">
                    <!-- Content panel in every span for padding -->
                     <flex-slider fslide="item in clients" control-nav="false" direction-nav="false" animation="slide" animation-loop="true" item-width="144" item-margin="5" min-items="1" max-items="8">
					   		<li>
                                <img ng-src="{{ item }}" alt="" />
					   		</li>
					</flex-slider>
                </div>
            </div>
        </div>
    </section>
</article>