<div class="top-parallax" ng-include src="'app/views/structure/top.tpl.html'" parallax parallax-ratio="0.2"></div>

<article class="main">
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>My Photos</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="content-panel">
                    <div masonry class="masonry">
						<div class="masonry-brick" ng-repeat="item in images" ng-click="popup(item)" class="tile"><img class="img-responsive" ng-src="{{ item }}" alt="" /></div>
                    </div>
                </div>
                <script type="text/ng-template" id="popup.html">
			        <div class="modal-body">
			        	<img class="img-responsive" ng-src="{{ image }}" alt="" />
			        </div>
			    </script>
            </div>
        </div>
    </section>
</article>
