<div class="top-parallax" ng-include src="'app/views/structure/top.tpl.html'" parallax parallax-ratio="0.2"></div>

<article class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>Effect #1</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <div class="boxgrid" box-grid-effects="slideright">
                        <img class="cover" ng-src="assets/img/filler/11.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/features/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <div class="boxgrid" box-grid-effects="slideright">
                        <img class="cover" ng-src="assets/img/filler/10.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/features/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <div class="boxgrid" box-grid-effects="slideright">
                        <img class="cover" ng-src="assets/img/filler/9.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/features/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>Effect #2</h2>
                </div>
            </div>
            <div class="span8">
                <div class="content-panel">
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <div class="boxgrid" box-grid-effects="thecombo">
                        <img class="cover" ng-src="assets/img/filler/8.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/features/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <div class="boxgrid" box-grid-effects="thecombo">
                        <img class="cover" ng-src="assets/img/filler/7.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/features/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <div class="boxgrid" box-grid-effects="thecombo">
                        <img class="cover" ng-src="assets/img/filler/6.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/features/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>Effect #3</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                </div>
            </div>
        </div>
        <div class="row last">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <div class="boxgrid" box-grid-effects="slidedown">
                        <img class="cover" ng-src="assets/img/filler/5.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/features/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <div class="boxgrid" box-grid-effects="slidedown">
                        <img class="cover" ng-src="assets/img/filler/4.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/features/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel">
                    <div class="boxgrid" box-grid-effects="slidedown">
                        <img class="cover" ng-src="assets/img/filler/3.jpg" alt="" />
                        <h3>Project</h3>
                        <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="{{ Root }}/features/portfolioitem">More Work</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>